:root {
    --container-padding: 3rem;
    --main-color: #fff;
    --main-border-color: #cc1;

}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
}
body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}
.flex-wrapper {
    display: flex; 
    flex-direction: column;
}
/* Setting Background*/
main {
    position: relative;
    flex: 1;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(136,203,171,1) 0% ,  rgba(0,13,60,1) 100%);
    z-index: -1;
}
/* Nav Bar */
.page__header {
    /* padding: 15px 10px; */
    background-color: #000;
    color: var(--main-color);
    height: 10vh;
    width: 100%;
    box-shadow: 0px 2px 0px 0px #ffffff14;
    position: fixed;
    z-index: 5;
    transition: opacity 500ms ease-in-out;
     
}
.page__header .navbar__menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    
}
.page__header .navbar__menu #navbar__list {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding-right: 15px;
    height: 100%;
}
/* Hide Fixed Nav Bar While Not Scrolling ((4)) */
.page__header.hide {
    opacity: 0;
}
a {
    text-decoration: none;
    color: var(--main-color);
}
li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    min-height: 100%;
    width: 120px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms ease-in-out;
}
/* Highlight Nav Item For Section That's In The ViewPort ((1))*/

li.active-section {
    background-color: #ffffff38;
    border-bottom: 2px solid #ffd400;
}
.burger__menu {
    /* background-color: white; */
    position: absolute;
    right: 4%;
  
    height: 100%;
    width: 4rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    transform: scale(0.7);
}
.burger__menu span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5px;
    transition: all 200ms ease-in-out;
}

.burger__menu span:first-child {
    margin-top: -20px;
   
}
.burger__menu span:nth-child(3) {
    margin-top: 20px;
   
}
    /* Hover State Of Items */
    li:hover {
        background-color: rgba(15, 83, 218, 0.159);
    }
    /* Burger Menu Closing Animation */
    .burger__menu.close-state span:nth-child(2) {
    background-color: transparent;
}
.burger__menu.close-state span:first-child {
    transform: rotate(45deg) translate(13px, 14px);
}
.burger__menu.close-state span:nth-child(3) {
   
    transform: rotate(-45deg) translate(13px, -14px);
}


/* Hero Section */
.main__hero {
    height: 70vh;
    color: #fff;
    /* outline: 2px solid #000; */
    padding: 0px var(--container-padding);
    display: flex;
    align-items: center;
}
.main__hero h1 {
    font-size: 7rem;
    font-family: 'Fira Sans', sans-serif;
}
/* Sections */
section {
    color: #fff;
    height: fit-content;
    font-size: 1.2rem;
    margin-bottom: 6rem;

}
section .landing__container {
    padding: var(--container-padding);
    position: relative;
}
section h2 {
    font-size: 3rem;
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 2.5rem;
}
/* Collapsible Sections ((6)) */
section:nth-of-type(odd) .collapse-btn {
    position: absolute;
    right: 13%;
    top: 140px;
}
section:nth-of-type(even) .collapse-btn {
    position: absolute;
    left: 13%;
    top: 140px;
}
section .landing__container.collapse p {
    display: none;
}
section p {
    color: #eee;
    line-height: 1.6em;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.page__footer {
    background-color: #000;
    color: var(--main-color);
    height: 10vh;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: var(--container-padding);
}

/* Animation For Selected Section */
section{
    position: relative;
}
section:nth-of-type(odd) .landing__container::before {
    content: '';
    width: 20vh;
    height: 20vh;
    background-color: rgb(255 255 255 / .15);
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.5s all;
    
}
section:nth-of-type(even) .landing__container::before {
    content: '';
    background-image: linear-gradient(0deg
    , rgba(255,255,255,.1) 0%
    , rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -1;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease-in-out 0.5s all;
}
section:nth-of-type(3n) .landing__container::after {
    content: '';
    background-image: linear-gradient(0deg
    , rgba(255,255,255,.1) 0%
    , rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease-in-out 0.5s all;
}
section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-image: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    z-index: -1;
    opacity: 0;
    right: 20vw;
    bottom: -5em;
    transition: ease-in-out 0.5s all;
}
/* Active State When The Section Is In The Viewport ((1)) */
section.active {
    background-image: linear-gradient(0deg,rgb(0 0 0 / 10%) 0%,rgb(0 0 0 / 0%) 100%);
}
section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}
section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Active State Animation Keyframe */
@keyframes rotate {
    from {
        transform: rotate(0deg)
                   translate(-1em)
                   rotate(0deg);
    }
    to {
        transform: rotate(360deg)
                   translate(-1em)
                   rotate(-360deg);
    }
}
/* Scroll To Top Btn ((5)) */
#scroll-to-top-btn {
    color: #fff;
    position: fixed;
    right: 3%;
    bottom: 0;
    display: none;
    z-index: 999;
    cursor: pointer;
}
/* Media Queries */
@media only screen and (min-width: 35em) {
    section div.landing__container {
        max-width: 50em;
        padding: 4em;
    }
}
@media only screen and (min-width: 26.5635em) {
   .burger__menu {
    display: none;
   }
}
@media only screen and (max-width: 26.5634em) {
        .main__hero {
            justify-content: center;
        }
        .main__hero h1 {
            font-size: 3.2rem;
        }
        section {
            font-size: 0.8rem;
        }
        section:nth-of-type(odd) .collapse-btn {
            position: absolute;
            right: 9%;
            top: 107px;
            font-size: 1.7rem;
        }
        section:nth-of-type(even) .collapse-btn {
            position: absolute;
            left: 9%;
            top: 107px;
            font-size: 1.7rem;
        }

        .landing__container h2 {
            text-align: center;
        }
        .landing__container p {
            text-align: justify;
        }
    
        .page__header .navbar__menu {
        display: none;
        }
        /* Nav bar mobile */
    .page__header .navbar__menu {
        display: unset;
        position: absolute;
        width: 100%;
        transform: translateY(-99%);
        left: 0;
        background-color: #000;
        height: fit-content;
        z-index: -1;
        transition: transform 300ms ease-in-out;
    }
    .page__header .navbar__menu #navbar__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Nav bar mobile active state */
    .page__header .navbar__menu.active-state {
        display: unset;
        position: absolute;
        width: 100%;
        transform: translateY(10vh);
        left: 0;
        background-color: #000;
        height: fit-content;
        z-index: -1;
        transition: transform 300ms ease-in-out;
    }
    .page__header .navbar__menu.active-state #navbar__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page__header .navbar__menu ul li {
        padding: 1rem;
        width: 100%;
    }
} 
